<?xml version="1.0"?>
<configuration>
  <configSections>
      <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
          <section name="Flummery.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      </sectionGroup>
  </configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <Flummery.Properties.Settings>
          <setting name="LastBrowsedFolder" serializeAs="String">
            <value />
          </setting>
          <setting name="PathCarmageddonReincarnation" serializeAs="String">
            <value />
          </setting>
          <setting name="PathCarmageddon2" serializeAs="String">
            <value />
          </setting>
          <setting name="SaveAsLevelPath" serializeAs="String">
            <value />
          </setting>
          <setting name="SaveAsVehiclePath" serializeAs="String">
            <value />
          </setting>
          <setting name="PathCarmageddon1" serializeAs="String">
            <value />
          </setting>
          <setting name="KeysCameraSelect" serializeAs="String">
            <value>V</value>
          </setting>
          <setting name="KeysCameraPan" serializeAs="String">
            <value>X</value>
          </setting>
          <setting name="KeysCameraZoom" serializeAs="String">
            <value>Z</value>
          </setting>
          <setting name="KeysCameraRotate" serializeAs="String">
            <value>C</value>
          </setting>
          <setting name="KeysCameraFrame" serializeAs="String">
            <value>F</value>
          </setting>
          <setting name="CheckForUpdates" serializeAs="String">
            <value>True</value>
          </setting>
          <setting name="KeysActionScaleUp" serializeAs="String">
            <value>*</value>
          </setting>
          <setting name="KeysActionScaleDown" serializeAs="String">
            <value>/</value>
          </setting>
          <setting name="KeysClearSelection" serializeAs="String">
            <value>D</value>
          </setting>
          <setting name="KeysRenderMode" serializeAs="String">
            <value>W</value>
          </setting>
          <setting name="KeysCoordinateSystem" serializeAs="String">
            <value>P</value>
          </setting>
          <setting name="PersonalAuthor" serializeAs="String">
            <value />
          </setting>
          <setting name="PersonalWebsite" serializeAs="String">
            <value />
          </setting>
        </Flummery.Properties.Settings>
    </userSettings>
</configuration>
