[submodule "ToxicRagers"]
	path = ToxicRagers
	url = https://github.com/MaxxWyndham/ToxicRagers.git
[submodule "thatGameEngine"]
	path = thatGameEngine
	url = https://github.com/MaxxWyndham/thatGameEngine.git
